# Created by Vercel CLI
NEXT_PUBLIC_CALENDAR_URL=https://your-url.com
NEXT_PUBLIC_CITY=https://your-url.com
NEXT_PUBLIC_CITY_TZ=https://your-url.com
NEXT_PUBLIC_DISCORD_URL=https://your-url.com
NEXT_PUBLIC_EMAIL=https://your-url.com
NEXT_PUBLIC_GITHUB_URL=https://your-url.com
NEXT_PUBLIC_LINKEDIN_URL=https://your-url.com
NEXT_PUBLIC_LINKEDIN_SERVICE_URL=https://your-url.com
NEXT_PUBLIC_MALT_URL=https://your-url.com
NEXT_PUBLIC_RESUME_URL=https://your-url.com
