@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f2;
  --foreground: #0d0d0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #f2f2f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  @apply bg-theme-white-1 text-theme-black-1 hover:bg-gray-400;
}

.btn-secondary {
  @apply hover:bg-theme-blue-5 bg-theme-blue-2 text-theme-white-1;
}
